<div class="row">
  <div class="col-xs-8">

    <h3>Smart Contracts</h3>
    <table class="table">
      <tr>
        <td>EthereumDollar</td>
        <td><a href="<%= bundle.Main.addressLink(contract_ethereumdollar_addr) %>" target="_blank"><%= contract_ethereumdollar_addr %></a></td>
      </tr>
      <tr>
        <td>Backer Token</td>
        <td><a href="<%= bundle.Main.addressLink(contract_backertoken_addr) %>" target="_blank"><%= contract_backertoken_addr %></a></td>
      </tr>
      <tr>
        <td>Dollar Token</td>
        <td><a href="<%= bundle.Main.addressLink(contract_dollartoken_addr) %>" target="_blank"><%= contract_dollartoken_addr %></a></td>
      </tr>
    </table>

  </div>
  <div class="col-xs-4">

    <h3>Minimum Solvency</h3>
    <table class="table">
      <tr>
        <td>To Create Dollar Tokens</td>
        <td>1.3</td>
      </tr>
      <tr>
        <td>To Redeem Backer Tokens</td>
        <td>1.0</td>
      </tr>
      <tr>
        <td>To Redeem Dollar Tokens</td>
        <td>1.0</td>
      </tr>
    </table>

  </div>
</div>
