<div class="row">
  <div class="col-xs-8">

    <h3>Smart Contracts</h3>
    <table class="table">
      <tr>
        <td>EthereumDollar</td>
        <td><a href="<%= bundle.Main.addressLink(contractEthereumDollarAddr) %>" target="_blank"><%= contractEthereumDollarAddr %></a></td>
      </tr>
      <tr>
        <td>Backer Token</td>
        <td><a href="<%= bundle.Main.addressLink(contractBackerTokenAddr) %>" target="_blank"><%= contractBackerTokenAddr %></a></td>
      </tr>
      <tr>
        <td>Dollar Token</td>
        <td><a href="<%= bundle.Main.addressLink(contractDollarTokenAddr) %>" target="_blank"><%= contractDollarTokenAddr %></a></td>
      </tr>
    </table>

  </div>
  <div class="col-xs-4">

    <h3>Minimum Solvency</h3>
    <table class="table">
      <tr>
        <td>To Create Dollar Tokens</td>
        <td>1.3</td>
      </tr>
      <tr>
        <td>To Redeem Backer Tokens</td>
        <td>1.0</td>
      </tr>
      <tr>
        <td>To Redeem Dollar Tokens</td>
        <td>1.0</td>
      </tr>
    </table>

  </div>
</div>
